cmake
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Ext==0.1
Flask-JWT==0.3.2
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-PyMongo==2.0.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
GitHub-Flask==3.2.0
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
MarkupSafe==1.0
numpy==1.16.1
pickle-mixin==1.0.2
pybase64==0.5.0
pymongo==3.7.1
python-dateutil==2.7.3
python-editor==1.0.3
six==1.11.0
unicorn==1.0.1
urllib3==1.26.5
Werkzeug==0.14.1
WTForms==2.2.1
opencv-contrib-python
